{{#each this}}
<li class="gallery__item">
    <div class="photo-card">
        <img class="image" src="{{webformatURL}}" alt="{{tags}}" data-src="{{largeImageURL}}" />

        <div class="stats">
            <p class="stats-item">
                <i class="material-icons">thumb_up</i>
                <span>{{likes}}</span>
            </p>
            <p class="stats-item">
                <i class="material-icons">visibility</i>
                <span>{{views}}</span>
            </p>
            <p class="stats-item">
                <i class="material-icons">comment</i>
                <span>{{comments}}</span>
            </p>
            <p class="stats-item">
                <i class="material-icons">cloud_download</i>
                <span>{{downloads}}</span>
            </p>
        </div>
    </div>
</li>
{{/each}}